In [14]:
import scipy.sparse as spr
import sys
path2oti = '../../../build/'
sys.path.append(path2oti) # Add path to OTI library.

import pyoti.sparse as oti
import pyoti.core   as coti
import pyoti.fem    as fem
e  = oti.e
np = oti.np


import pyvista as pv
p = pv.BackgroundPlotter()

In [15]:
Th = fem.square(1,1,he = 1/2, element_order=2, quads=True, save=True)

grid = Th.to_pv(dims=2)

p.clear()

p.add_mesh(grid, show_edges=True, grid = True)

ValueError: ('gmshModelGeoAddPoint returned non-zero error code: ', 1)

In [4]:
Th.elements[1]

{'types': array([8], dtype=int32),
 'tags': [array([ 5,  6,  7,  8,  9, 10, 11, 12], dtype=uint64)],
 'nodes': [array([[ 0,  4,  5],
         [ 4,  1,  6],
         [ 1,  7,  8],
         [ 7,  3,  9],
         [ 3, 10, 11],
         [10,  2, 12],
         [ 2, 13, 14],
         [13,  0, 15]], dtype=uint64)],
 'groups': [array([201], dtype=int32)]}

In [17]:
Th.get_all_elements_pd()

   Dim   Type Tag          Nodes
1    0  point   1            [0]
2    0  point   2            [1]
3    0  point   3            [2]
4    0  point   4            [3]
5    1  line2   5         [0, 4]
6    1  line2   6         [4, 1]
7    1  line2   7         [1, 5]
8    1  line2   8         [5, 3]
9    1  line2   9         [3, 6]
10   1  line2  10         [6, 2]
11   1  line2  11         [2, 7]
12   1  line2  12         [7, 0]
13   2  quad4  13  [1, 10, 9, 4]
14   2  quad4  14  [7, 9, 10, 8]
15   2  quad4  15  [8, 10, 1, 5]
16   2  quad4  16   [7, 0, 4, 9]
17   2  quad4  17   [8, 6, 2, 7]
18   2  quad4  18   [8, 5, 3, 6]

In [7]:
Th.get_all_elements()

array([[0, 'point', 1, array([0], dtype=uint64)],
       [0, 'point', 2, array([1], dtype=uint64)],
       [0, 'point', 3, array([2], dtype=uint64)],
       [0, 'point', 4, array([3], dtype=uint64)],
       [1, 'line3', 5, array([0, 4, 5], dtype=uint64)],
       [1, 'line3', 6, array([4, 1, 6], dtype=uint64)],
       [1, 'line3', 7, array([1, 7, 8], dtype=uint64)],
       [1, 'line3', 8, array([7, 3, 9], dtype=uint64)],
       [1, 'line3', 9, array([ 3, 10, 11], dtype=uint64)],
       [1, 'line3', 10, array([10,  2, 12], dtype=uint64)],
       [1, 'line3', 11, array([ 2, 13, 14], dtype=uint64)],
       [1, 'line3', 12, array([13,  0, 15], dtype=uint64)],
       [2, 'quad8', 13,
        array([ 1, 18, 17,  4, 19, 20, 21,  6], dtype=uint64)],
       [2, 'quad8', 14,
        array([13, 17, 18, 16, 22, 20, 23, 24], dtype=uint64)],
       [2, 'quad8', 15,
        array([16, 18,  1,  7, 23, 19,  8, 25], dtype=uint64)],
       [2, 'quad8', 16,
        array([13,  0,  4, 17, 15,  5, 21, 22], dtype=uint64)],
       [2, 'quad8', 17,
        array([16, 10,  2, 13, 26, 12, 14, 24], dtype=uint64)],
       [2, 'quad8', 18,
        array([16,  7,  3, 10, 25,  9, 11, 26], dtype=uint64)]],
      dtype=object)

In [9]:
elems = Th.elements

In [18]:
elems[2]['nodes'][0]

array([[ 1, 18, 17,  4, 19, 20, 21,  6],
       [13, 17, 18, 16, 22, 20, 23, 24],
       [16, 18,  1,  7, 23, 19,  8, 25],
       [13,  0,  4, 17, 15,  5, 21, 22],
       [16, 10,  2, 13, 26, 12, 14, 24],
       [16,  7,  3, 10, 25,  9, 11, 26]], dtype=uint64)

In [2]:
import gmsh

In [3]:
gmsh.initialize()
gmsh.open('./square.msh')

In [5]:
gmsh.model.mesh.generate()

In [6]:
gmsh.mesh.

['square']

In [12]:
A = {}
A[(2,150)] = {"hey":"Hello"}

In [13]:
A[(2,150)]

{'hey': 'Hello'}